*{
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 40px;
    font-style: normal;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    margin: 2.5vw;
}

body {
    background-color: #3F2030;
}

nav {
    background-color: #7B6570;
    text-align: center;
}

ul li{
    display: inline;
}

ul li a {
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
}

ul li a:hover {
    background-color: #3F2030;
    transition: all 0.5s;
}
